.main {
  width:  700px;
}
.container {
  display: block;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.under-container {
  display: flex;
  align-items: center;
}
.name {
   margin-right: 10px;
   width: 150px;
}
.radio {
  flex-direction: column;
}
.input_radio {
  margin-right: 5px;
}
@media only screen and (min-width: 360px) and (max-width: 768px){
  .main {
    height: 58%;
    width: 100%;
    position: relative;
    top: 20px;
    transform: rotate(-0.25turn);
  }
  .container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    
  }
  .name {
    font-size: 10px;
    width: 0px;
    margin-bottom: 40px;
    transform: rotate(90deg);

  }
  .under-container {
    margin-top: 20px;
  }
  .radio {
    transform: rotate(90deg);
    position: absolute;
    left: -81px;
    bottom: 10px;
    font-size: 7px;
  }
  .input_radio {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 620px) {
  .main {
    height: 52%;
    width: 88%;
  }
}
@media only screen and (min-width: 621px) and (max-width: 800px) {
  .main {
    height: 40%;
    width: 83%;
  }
}